<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <title>template</title>
    <!-- libraries-->
    <script type="text/javascript" src="assets/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="assets/d3js/3.3.11/d3.v3.min.js"></script>
    <script type="text/javascript" src="assets/angular/1.2.3/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/bootstrap/3.0.2/css/bootstrap.min.css">
    <script type="text/javascript" src="assets/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <!-- custom files-->
    <link rel="stylesheet" type="text/css" href="assets/colorpicker/css/colorpicker.css">
    <link rel="stylesheet" type="text/css" href="uiload.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <script type="text/javascript" src="require.js"></script>
    <script type="text/javascript" src="html2canvas.js"></script>
    <script type="text/javascript" src="gif.js"></script>
    <script type-"text/javascript src="assets/colorpicker/js/bootstrap-colorpicker-module.js"></script>
    <script type="text/javascript" src="rgbcolor.js"></script>
    <script type="text/javascript" src="StackBlur.js"></script>
    <script type="text/javascript" src="canvg.js"></script>
    <script type="text/javascript" src="index.js"></script>
  </head>
  <body ng-controller="main">
    <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header"><a href="#" class="navbar-brand">LOADING.IO</a></div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">GIF</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">SVG</a></li>
            <li><a href="#">MORE</a></li>
          </ul>
          <ul class="nav navbar-nav pull-right">
            <li ng-class="{'invis':!username}" class="anim profile invis"><a href="#">
                <div class="avatar"><img ng-src="http://graph.facebook.com/{{uid}}/picture?type=small" ng-show="uid"></div>
                <div class="name">{{username}}</div></a></li>
            <li ng-show="!accessToken" class="logon"><a href="#" ng-click="login()">Login</a></li>
            <li ng-show="accessToken" class="logon ng-hide"><a href="#" ng-click="logout()">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="banner">
      <div class="img"><img src="banner.png"></div>
      <div class="title">Build Your Web App<br>with Loading Icons in
        <big style="color:#ff9;display:inline-block;-webkit-transform:rotate(5deg);font-weight:900;">SVG</big>!
      </div>
    </div>
    <div id="gallery">
      <div class="ib">
        <div class="glyphicon glyphicon-cog"></div>
        <div class="desc">custom</div>
      </div>
      <div class="ib">
        <div class="glyphicon glyphicon-zoom-in"></div>
        <div class="desc">responsive</div>
      </div>
      <div class="ib">
        <div class="glyphicon glyphicon-ok-sign"></div>
        <div class="desc">simple</div>
      </div>
      <div class="ib">
        <div class="glyphicon glyphicon-eye-open"></div>
        <div class="desc">wysiwyg</div>
      </div>
      <div class="ib">
        <div class="glyphicon glyphicon-leaf"></div>
        <div class="desc">liteweight</div>
      </div>
      <div class="ib">
        <div class="glyphicon glyphicon-certificate"></div>
        <div class="desc">open</div>
      </div>
      <div class="ib">
        <div class="glyphicon glyphicon-dashboard"></div>
        <div class="desc">fast</div>
      </div>
      <div class="ib">
        <div class="glyphicon glyphicon-heart-empty"></div>
        <div class="desc">lovely</div>
      </div>
      <div class="ib">
        <div class="glyphicon glyphicon-globe"></div>
        <div class="desc">universal</div>
      </div>
      <div class="ib">
        <div class="glyphicon glyphicon-qrcode"></div>
        <div class="desc">mobile</div>
      </div>
    </div>
    <div id="panel">
      <div id="tryit"></div>
      <div id="making" ng-class="{'invis':!build.making}" class="anim invis">Generating...</div>
      <div class="row">
        <div class="col-md-5">
          <div id="demo-panel" ng-attr-style="background:{{build.cbk || '#fff'}}">
            <uiload type="default" js ng-model="demoLoader" bar-color="{{build.c1}}" background="{{build.cbk}}" ng-attr-style="width:{{build.size * 2}}px;height:{{build.size * 2}}px;margin:{{100 - build.size}}px"></uiload>
          </div>
          <div ng-mousemove="build.resize($event)" class="progress progress-striped">
            <div role="progressbar" ng-attr-aria-valuenow="{{build.size}}" aria-valuemin="0" aria-valuemax="100" ng-attr-style="width:{{build.size}}%;" class="progress-bar">{{2 * build.size}}px</div>
          </div>
          <div class="hide">
            <div class="svg"></div>
            <div class="css"></div>
          </div>
        </div>
        <div class="col-md-7">
          <form>
            <div class="row">
              <div ng-attr-class="col-sm-{{12 / demoLoader.vars.length}}" ng-repeat="v in demoLoader.vars">
                <div class="form-group">
                  <label>{{v.name}}</label>
                  <input ng-if="v.type=='color'" type="text" colorpicker colorpicker-with-input="true" placeholder="e.g., {{v.placeholder}}" ng-model="build['c'+($index+1)]" class="form-control">
                  <input ng-if="v.type=='px'" type="text" placeholder="e.g., {{v.placeholder}}" ng-model="build['c'+($index+1)]" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>speed (second)</label>
                  <input typ="text" placeholder="e.g., 1.2" ng-model="build.speed" class="form-control">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>background color</label>
                  <input typ="text" colorpicker colorpicker-with-input="true" placeholder="e.g., #f00" ng-model="build.cbk" class="form-control">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div id="play" class="btn-group">
                <div ng-class="{'active':build.running}" ng-click="build.start()" class="btn btn-default">Run
                  <div class="glyphicon glyphicon-play"></div>
                </div>
                <div ng-class="{'active':!build.running}" ng-click="build.stop()" class="btn btn-default">Stop
                  <div class="glyphicon glyphicon-pause"></div>
                </div>
              </div>
              <div id="build" class="btn-group">
                <div ng-click="build.makesvg()" class="btn btn-default">Download SVG</div>
                <div class="btn btn-default">
                  <div data-toggle="tooltip" data-placement="bottom" title="coming soon" class="ttn">Download CSS</div>
                </div>
                <div ng-click="build.makegif()" class="btn btn-default">Make GIF</div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div id="output-modal" ng-controller="output" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
            <h2 class="modal-title">Build Complete!</h2>
          </div>
          <div class="modal-body">
            <div id="output-box"></div>Here is the requested {{mode}}
            <div class="glyphicon glyphicon-circle-arrow-up"></div>
          </div>
          <div class="modal-footer"><a id="output-box-link" href="#" class="btn btn-success">Download {{mode}}</a>
            <div data-dismiss="modal" class="btn btn-default">Dismiss</div>
          </div>
        </div>
      </div>
    </div>
    <div id="footer-top"></div>
    <div id="footer">
      <div class="ib"><a id="eula">Term of Use</a><a id="privacy">Privacy Policy</a><a id="attribution">Attribution</a><a id="about">About Us</a>
        <div style="float:right;" data-href="http://loading.io" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true" class="fb-like"></div>
      </div>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-49953904-1', 'loading.io');
      ga('send', 'pageview');
    </script>
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId=538062799648166";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
  </body>
</html>