<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <title>template</title>
    <!-- libraries-->
    <script type="text/javascript" src="assets/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="assets/d3js/3.3.11/d3.v3.min.js"></script>
    <script type="text/javascript" src="assets/angular/1.2.3/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/semantic-ui/0.9.5/css/semantic.min.css">
    <script type="text/javascript" src="assets/semantic-ui/0.9.5/js/semantic.min.js"></script>
    <!-- custom files-->
    <link rel="stylesheet" type="text/css" href="uiload.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <script type="text/javascript" src="require.js"></script>
    <script type="text/javascript" src="html2canvas.js"></script>
    <script type="text/javascript" src="gif.js"></script>
    <script type="text/javascript" src="rgbcolor.js"></script>
    <script type="text/javascript" src="StackBlur.js"></script>
    <script type="text/javascript" src="canvg.js"></script>
    <script type="text/javascript" src="index.js"></script>
  </head>
  <body ng-controller="main">hello world!
    <uiload type="infinity" js ng-model="a"></uiload>
    <uiload type="infinity" ng-model="b"></uiload>
    <uiload type="default" js ng-model="c"></uiload>
    <div style="margin:0 auto;width:500px;text-align:center"><img src="idea/1.jpg" style="width:400px;display:block;margin:10px;"><img src="idea/2.png" style="width:400px;display:block;margin:10px;"><img src="idea/3.jpg" style="width:400px;display:block;margin:10px;"><img src="idea/4.png" style="width:400px;display:block;margin:10px;"><img src="idea/5.png" style="width:400px;display:block;margin:10px;"><img src="idea/6.png" style="width:400px;display:block;margin:10px;"></div>
    <!--uiload(type="default",ng-model="d")-->
    <!--img(src="test.svg")-->
    <!--uiload(type="default",ng-model="b")-->
    <!--img(src="load.gif")-->
  </body>
</html>