html, body
  margin: 0
  padding: 0
  width: 100%
  height: 100%
  //-webkit-transform: translate3d(0, 0, 0)

html, body
  font-family: century gothic
  background: url(bk.jpg) fixed top center no-repeat

#banner
  width: 100%
  min-height: 300px
  text-align: center
  padding: 80px 0 20px
  .img
    margin: 50px auto
    img
      margin-left: -57px
  .title
    color: #fff
    font-size: 40px
    margin: 0 auto
    width: 80%
    text-shadow: 0 2px 4px rgba(0,0,0,0.4)

nav.navbar-default
  background: none
  border: none
  color: #fff
  max-width: 1024px
  margin: 20px auto
  font-family: century gothic, arial
  text-shadow: 0 1px 3px rgba(0,0,0,0.3)
  .navbar-brand, .navbar-nav > li > a
    color: #fff
    font-family: century gothic, arial
    letter-spacing: 1px

#gallery
  width: 100%
  padding: 60px
  text-align: center
  font-size: 42px
  .glyphicon
    margin: 10px
    text-shadow: 0 2px 3px rgba(0,0,0,0.3)

#tryit
  position: absolute
  margin-top: -100px
  margin-left: 20%
  width: 170px
  height: 180px
  background: url(tryit.png) no-repeat center center

#panel
  position: relative
  width: 100%
  padding: 20px 20% 20px 10%
  background: rgba(0,0,0,0.2)
  .col-md-5
    .progress
      width: 200px
      margin: 0 auto
    uiload
      width: 100%
      height: 100%
    //  box-shadow: 0 1px 3px rgba(0,0,0,0.3)
    //  overflow: hidden
    //  border-radius: 10px
    text-align: center
  form
    margin-top: 32px
  .btn-group
    img
      vertical-align: bottom
      margin-left: 7px
  #demo-panel
    margin: 0 auto 5px
    border-radius: 10px
    overflow: hidden
    width: 200px
    height: 200px
    box-shadow: 0 1px 3px rgba(0,0,0,0.3)
  .progress
    cursor: pointer

#making
  width: 100%
  height: 100%
  background: rgba(0,0,0,0.7)
  position: absolute
  top: 0
  left: 0
  z-index: 10
  font-size: 90px
  padding-top: 7%
  color: #fff
  text-align: center
  text-shadow: 0 0 13px rgba(0,0,0,1)

#play
  .btn-default
    background: #FFFFFF
  .btn-default.active
    background: #E0E0E0
  .active .glyphicon
    text-shadow: 0 0 6px rgba(255,255,192,1.0)

#build.btn-group
  box-shadow: 0 1px 3px rgba(0,0,0,0.2)
  .btn-default
    color: #fff
    text-shadow: 0 1px 1px rgba(0,0,0,0.1)
    &:nth-of-type(1)
      background: #F77A62
      border: 1px solid #FF917C
    &:nth-of-type(2)
      background: #F89F5A
      border: 1px solid #FFB174
    &:nth-of-type(3)
      background: #8CD14B
      border: 1px solid #9ED36D

#output-modal
  .modal-header, .modal-footer
    text-align: center
  .modal-footer
    text-align: center
  .modal-body
    padding: 20px
    text-align: center
    .btn-success
      margin-left: -13px

#output-gif
  width: 100%
  text-align: center
  img
    border-radius: 5px
    box-shadow: 0 1px 3px rgba(0,0,0,0.3)
    margin: 15px
    background: url(grid-bk.png)

#footer
  position: fixed
  bottom: 0
  width: 100%
  background: rgba(0,0,0,0.4)
  margin-top: 20px
  padding: 12px 20px
  box-shadow: 0 -1px 4px rgba(0,0,0,0.3)
  .ib
    max-width: 1024px
    margin: 0 auto
  a
    color: #fff
    margin: 0 20px
    cursor: pointer

#footer-top
  width: 100%
  height: 50px

.anim
  transition: opacity 0.5s linear, visibility 0s linear 0s, z-index 0.5s linear
  opacity: 1
  z-index: 10
  visibility: visible

.anim.invis
  opacity: 0
  z-index: 0
  visibility: hidden
  transition: opacity 0.5s linear, visibility 0s linear 0.5s, z-index 0.5s linear
