doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var usecdn = false
- var useog = false
- var lib = { jquery: true, d3js: true, angular: true, bootstrap: true, semantic: false }
- var assets = "assets"
- var thumbnail = "http://dummy.thumbnail"
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    title template
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="uiload.css")
    link(rel="stylesheet",type="text/css",href="index.css")
  
    script(type="text/javascript",src="require.js")
    script(type="text/javascript",src="html2canvas.js")
    script(type="text/javascript",src="gif.js")

    script(type="text/javascript",src="rgbcolor.js")
    script(type="text/javascript",src="StackBlur.js")
    script(type="text/javascript",src="canvg.js")

    //-script(type="text/javascript",src="index.js")
    script(type="text/javascript",src="index.js")
  body(ng-controller="main")
    nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
      .container-fluid
        .navbar-header
          a.navbar-brand(href="#")
            | LOADING.IO
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li: a(href="#") GIF
            li: a(href="#") CSS
            li: a(href="#") SVG
            li: a(href="#") MORE
          ul.nav.navbar-nav.pull-right
            li.anim.profile.invis(ng-class="{'invis':!username}"): a(href="#")
              .avatar
                img(ng-src="http://graph.facebook.com/{{uid}}/picture?type=small",ng-show="uid")
              .name {{username}}
            li.logon(ng-show="!accessToken"): a(href="#",ng-click="login()") Login
            li.logon.ng-hide(ng-show="accessToken"): a(href="#",ng-click="logout()") Logout

    #banner
      .img: img(src="banner.png")
      .title
        | Build Your Web App
        br
        | with Loading Icons in
        big(style="color:#ff9;display:inline-block;-webkit-transform:rotate(5deg);font-weight:900;") SVG
        | !

    #gallery
      .glyphicon.glyphicon-cog
      .glyphicon.glyphicon-zoom-in
      .glyphicon.glyphicon-qrcode
      .glyphicon.glyphicon-ok-sign
      .glyphicon.glyphicon-eye-open
      .glyphicon.glyphicon-leaf
      .glyphicon.glyphicon-certificate
      .glyphicon.glyphicon-dashboard
      .glyphicon.glyphicon-heart-empty
      .glyphicon.glyphicon-globe

    #panel
      #tryit
      .row
        .col-md-5
          uiload(type="infinity",ng-model="demoLoader",js,circle-color="{{build.c1}}",
          line-color="{{build.c2}}",speed="{{build.c3}}")
        .col-md-7
          form
            .row
              .col-sm-6
                .form-group
                  label circle color
                  input.form-control(typ="text",placeholder="e.g., #f00",ng-model="build.c1")
              .col-sm-6
                .form-group
                  label line color
                  input.form-control(typ="text",placeholder="e.g., #f00",ng-model="build.c2")
            .row
              .col-sm-6
                .form-group
                  label circle speed
                  input.form-control(typ="text",placeholder="e.g., 1.2s",ng-model="build.c3")
              .col-sm-6
                .form-group
                  label background color
                  input.form-control(typ="text",placeholder="e.g., #f00",ng-model="build.c4")
            .form-group
              #play.btn-group
                .btn.btn-default.active
                  | Run
                  .glyphicon.glyphicon-play
                .btn.btn-default
                  | Stop
                  .glyphicon.glyphicon-pause
              #build.btn-group
                .btn.btn-default
                  | Download SVG
                .btn.btn-default
                  | Download CSS
                .btn.btn-default
                  | Make GIF

    #footer-top
    #footer
      .ib
        a#eula Term of Use
        a#privacy Privacy Policy
        a#attribution Attribution
        a#about About Us

