doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var usecdn = false
- var useog = false
- var lib = { jquery: true, d3js: true, angular: true, bootstrap: false, semantic: true }
- var assets = "assets"
- var thumbnail = "http://dummy.thumbnail"
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    title template
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="uiload.css")
    link(rel="stylesheet",type="text/css",href="index.css")
    script(type="text/javascript",src="require.js")
    script(type="text/javascript",src="html2canvas.js")
    script(type="text/javascript",src="gif.js")

    script(type="text/javascript",src="rgbcolor.js")
    script(type="text/javascript",src="StackBlur.js")
    script(type="text/javascript",src="canvg.js")

    script(type="text/javascript",src="index.js")
  body(ng-controller="main")
    | hello world!
    uiload(type="infinity",js,ng-model="a")
    uiload(type="infinity",ng-model="b")
    uiload(type="default",js,ng-model="c")

    div(style="margin:0 auto;width:500px;text-align:center")
      img(src="idea/1.jpg",style="width:400px;display:block;margin:10px;")
      img(src="idea/2.png",style="width:400px;display:block;margin:10px;")
      img(src="idea/3.jpg",style="width:400px;display:block;margin:10px;")
      img(src="idea/4.png",style="width:400px;display:block;margin:10px;")
      img(src="idea/5.png",style="width:400px;display:block;margin:10px;")
      img(src="idea/6.png",style="width:400px;display:block;margin:10px;")

    //uiload(type="default",ng-model="d")

    //img(src="test.svg")
    //uiload(type="default",ng-model="b")
    //img(src="load.gif")
    //-
      uiload(type="spin")
      uiload(type="circle")
      uiload(type="reload")
      uiload(type="pie")
      uiload(type="pacman")
      uiload(type="facebook")
      uiload(type="rosary")
      uiload(type="cube")
      uiload(type="stripe")
      uiload(type="wheel")
      uiload(type="dashinfinity")
      uiload(type="infinity", circle-color="{{infinity.circle}}",line-color="{{infinity.line}}",speed="{{infinity.speed}}")
      input(type="text",ng-model="infinity.circle")
      input(type="text",ng-model="infinity.line")
      input(type="text",ng-model="infinity.speed")
