svg.uil-spin(width="100%",height="100%",viewBox="0 0 100 100",preserveAspectRatio="xMidYMid")
  rect.bk(x="0",y="0",width="100",height="100",fill="#ffffff")
  g(transform="translate(50 50)")
    g(transform="rotate(0) translate(34 0)"): circle(cx="0",cy="0",r="8",fill="#000")
    g(transform="rotate(45) translate(34 0)"): circle(cx="0",cy="0",r="8",fill="#000")
    g(transform="rotate(90) translate(34 0)"): circle(cx="0",cy="0",r="8",fill="#000")
    g(transform="rotate(135) translate(34 0)"): circle(cx="0",cy="0",r="8",fill="#000")
    g(transform="rotate(180) translate(34 0)"): circle(cx="0",cy="0",r="8",fill="#000")
    g(transform="rotate(225) translate(34 0)"): circle(cx="0",cy="0",r="8",fill="#000")
    g(transform="rotate(270) translate(34 0)"): circle(cx="0",cy="0",r="8",fill="#000")
    g(transform="rotate(315) translate(34 0)"): circle(cx="0",cy="0",r="8",fill="#000")
