uiload {
  display: inline-block;
  position: relative; }
  uiload > div {
    position: relative; }

.uil-sunny-css {
  background: none;
  position: relative;
  width: 200px;
  height: 200px; }

.uil-sunny-circle {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  top: 50px;
  left: 50px;
  background: circleColor; }

.uil-sunny-light > div {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 25px solid lightColor;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; }

.uil-sunny-light > div:nth-of-type(1) {
  -ms-transform: rotate(30deg) translate(70px, 0);
  -moz-transform: rotate(30deg) translate(70px, 0);
  -webkit-transform: rotate(30deg) translate(70px, 0);
  -o-transform: rotate(30deg) translate(70px, 0);
  transform: rotate(30deg) translate(70px, 0); }

.uil-sunny-light > div:nth-of-type(2) {
  -ms-transform: rotate(60deg) translate(70px, 0);
  -moz-transform: rotate(60deg) translate(70px, 0);
  -webkit-transform: rotate(60deg) translate(70px, 0);
  -o-transform: rotate(60deg) translate(70px, 0);
  transform: rotate(60deg) translate(70px, 0); }

.uil-sunny-light > div:nth-of-type(3) {
  -ms-transform: rotate(90deg) translate(70px, 0);
  -moz-transform: rotate(90deg) translate(70px, 0);
  -webkit-transform: rotate(90deg) translate(70px, 0);
  -o-transform: rotate(90deg) translate(70px, 0);
  transform: rotate(90deg) translate(70px, 0); }

.uil-sunny-light > div:nth-of-type(4) {
  -ms-transform: rotate(120deg) translate(70px, 0);
  -moz-transform: rotate(120deg) translate(70px, 0);
  -webkit-transform: rotate(120deg) translate(70px, 0);
  -o-transform: rotate(120deg) translate(70px, 0);
  transform: rotate(120deg) translate(70px, 0); }

.uil-sunny-light > div:nth-of-type(5) {
  -ms-transform: rotate(150deg) translate(70px, 0);
  -moz-transform: rotate(150deg) translate(70px, 0);
  -webkit-transform: rotate(150deg) translate(70px, 0);
  -o-transform: rotate(150deg) translate(70px, 0);
  transform: rotate(150deg) translate(70px, 0); }

.uil-sunny-light > div:nth-of-type(6) {
  -ms-transform: rotate(180deg) translate(70px, 0);
  -moz-transform: rotate(180deg) translate(70px, 0);
  -webkit-transform: rotate(180deg) translate(70px, 0);
  -o-transform: rotate(180deg) translate(70px, 0);
  transform: rotate(180deg) translate(70px, 0); }

.uil-sunny-light > div:nth-of-type(7) {
  -ms-transform: rotate(210deg) translate(70px, 0);
  -moz-transform: rotate(210deg) translate(70px, 0);
  -webkit-transform: rotate(210deg) translate(70px, 0);
  -o-transform: rotate(210deg) translate(70px, 0);
  transform: rotate(210deg) translate(70px, 0); }

.uil-sunny-light > div:nth-of-type(8) {
  -ms-transform: rotate(240deg) translate(70px, 0);
  -moz-transform: rotate(240deg) translate(70px, 0);
  -webkit-transform: rotate(240deg) translate(70px, 0);
  -o-transform: rotate(240deg) translate(70px, 0);
  transform: rotate(240deg) translate(70px, 0); }

.uil-sunny-light > div:nth-of-type(9) {
  -ms-transform: rotate(270deg) translate(70px, 0);
  -moz-transform: rotate(270deg) translate(70px, 0);
  -webkit-transform: rotate(270deg) translate(70px, 0);
  -o-transform: rotate(270deg) translate(70px, 0);
  transform: rotate(270deg) translate(70px, 0); }

.uil-sunny-light > div:nth-of-type(10) {
  -ms-transform: rotate(300deg) translate(70px, 0);
  -moz-transform: rotate(300deg) translate(70px, 0);
  -webkit-transform: rotate(300deg) translate(70px, 0);
  -o-transform: rotate(300deg) translate(70px, 0);
  transform: rotate(300deg) translate(70px, 0); }

.uil-sunny-light > div:nth-of-type(11) {
  -ms-transform: rotate(330deg) translate(70px, 0);
  -moz-transform: rotate(330deg) translate(70px, 0);
  -webkit-transform: rotate(330deg) translate(70px, 0);
  -o-transform: rotate(330deg) translate(70px, 0);
  transform: rotate(330deg) translate(70px, 0); }

.uil-sunny-light > div:nth-of-type(12) {
  -ms-transform: rotate(360deg) translate(70px, 0);
  -moz-transform: rotate(360deg) translate(70px, 0);
  -webkit-transform: rotate(360deg) translate(70px, 0);
  -o-transform: rotate(360deg) translate(70px, 0);
  transform: rotate(360deg) translate(70px, 0); }

@-webkit-keyframes xxx {
  0% {
    -ms-transform: translate(88px, 90px) rotate(0deg);
    -moz-transform: translate(88px, 90px) rotate(0deg);
    -webkit-transform: translate(88px, 90px) rotate(0deg);
    -o-transform: translate(88px, 90px) rotate(0deg);
    transform: translate(88px, 90px) rotate(0deg); }

  100% {
    -ms-transform: translate(88px, 90px) rotate(60deg);
    -moz-transform: translate(88px, 90px) rotate(60deg);
    -webkit-transform: translate(88px, 90px) rotate(60deg);
    -o-transform: translate(88px, 90px) rotate(60deg);
    transform: translate(88px, 90px) rotate(60deg); } }

@-moz-keyframes xxx {
  0% {
    -ms-transform: translate(88px, 90px) rotate(0deg);
    -moz-transform: translate(88px, 90px) rotate(0deg);
    -webkit-transform: translate(88px, 90px) rotate(0deg);
    -o-transform: translate(88px, 90px) rotate(0deg);
    transform: translate(88px, 90px) rotate(0deg); }

  100% {
    -ms-transform: translate(88px, 90px) rotate(60deg);
    -moz-transform: translate(88px, 90px) rotate(60deg);
    -webkit-transform: translate(88px, 90px) rotate(60deg);
    -o-transform: translate(88px, 90px) rotate(60deg);
    transform: translate(88px, 90px) rotate(60deg); } }

@-ms-keyframes xxx {
  0% {
    -ms-transform: translate(88px, 90px) rotate(0deg);
    -moz-transform: translate(88px, 90px) rotate(0deg);
    -webkit-transform: translate(88px, 90px) rotate(0deg);
    -o-transform: translate(88px, 90px) rotate(0deg);
    transform: translate(88px, 90px) rotate(0deg); }

  100% {
    -ms-transform: translate(88px, 90px) rotate(60deg);
    -moz-transform: translate(88px, 90px) rotate(60deg);
    -webkit-transform: translate(88px, 90px) rotate(60deg);
    -o-transform: translate(88px, 90px) rotate(60deg);
    transform: translate(88px, 90px) rotate(60deg); } }

@keyframes xxx {
  0% {
    -ms-transform: translate(88px, 90px) rotate(0deg);
    -moz-transform: translate(88px, 90px) rotate(0deg);
    -webkit-transform: translate(88px, 90px) rotate(0deg);
    -o-transform: translate(88px, 90px) rotate(0deg);
    transform: translate(88px, 90px) rotate(0deg); }

  100% {
    -ms-transform: translate(88px, 90px) rotate(60deg);
    -moz-transform: translate(88px, 90px) rotate(60deg);
    -webkit-transform: translate(88px, 90px) rotate(60deg);
    -o-transform: translate(88px, 90px) rotate(60deg);
    transform: translate(88px, 90px) rotate(60deg); } }

.uil-sunny-light {
  width: 25px;
  height: 20px;
  -ms-animation: xxx 1s linear infinite;
  -moz-animation: xxx 1s linear infinite;
  -webkit-animation: xxx 1s linear infinite;
  -o-animation: xxx 1s linear infinite;
  animation: xxx 1s linear infinite; }
