svg.uil-battery(width="100%",height="100%",viewBox="0 0 100 100",preserveAspectRatio="xMidYMid")
  rect.bk(x="0",y="0",width="100",height="100",fill="#ffffff")
  path(d="M65,19v-6c0-3.3-2.7-6-6-6H41c-3.3,0-6,2.7-6,6v6H65z",fill="#000")
  path(d="M76,17H24.1c-2.3,0-4.1,1.8-4.1,4v70c0,2.2,1.9,4,4.1,4H76c2.3,0,4-1.8,4-4V21C80,18.8,78.3,17,76,17z M72,29v54v4h-4.3 H32.4H28v-4V29v-4h4.4h35.3H72V29z",fill="#000")
  rect.cell(x="35",y="72",width="30",height="10",fill="#000")
  rect.cell(x="35",y="58",width="30",height="10",fill="#000")
  rect.cell(x="35",y="44",width="30",height="10",fill="#000")
  rect.cell(x="35",y="30",width="30",height="10",fill="#000")
