uiload {
  display: inline-block;
  position: relative; }
  uiload > div {
    position: relative; }

@-webkit-keyframes uil-battery-demo-anim4 {
  0% {
    opacity: 0; }

  10% {
    opacity: 0; }

  30% {
    opacity: 1; } }

@-moz-keyframes uil-battery-demo-anim4 {
  0% {
    opacity: 0; }

  10% {
    opacity: 0; }

  30% {
    opacity: 1; } }

@-ms-keyframes uil-battery-demo-anim4 {
  0% {
    opacity: 0; }

  10% {
    opacity: 0; }

  30% {
    opacity: 1; } }

@keyframes uil-battery-demo-anim4 {
  0% {
    opacity: 0; }

  10% {
    opacity: 0; }

  30% {
    opacity: 1; } }

@-webkit-keyframes uil-battery-demo-anim3 {
  0% {
    opacity: 0; }

  30% {
    opacity: 0; }

  50% {
    opacity: 1; } }

@-moz-keyframes uil-battery-demo-anim3 {
  0% {
    opacity: 0; }

  30% {
    opacity: 0; }

  50% {
    opacity: 1; } }

@-ms-keyframes uil-battery-demo-anim3 {
  0% {
    opacity: 0; }

  30% {
    opacity: 0; }

  50% {
    opacity: 1; } }

@keyframes uil-battery-demo-anim3 {
  0% {
    opacity: 0; }

  30% {
    opacity: 0; }

  50% {
    opacity: 1; } }

@-webkit-keyframes uil-battery-demo-anim2 {
  0% {
    opacity: 0; }

  50% {
    opacity: 0; }

  70% {
    opacity: 1; } }

@-moz-keyframes uil-battery-demo-anim2 {
  0% {
    opacity: 0; }

  50% {
    opacity: 0; }

  70% {
    opacity: 1; } }

@-ms-keyframes uil-battery-demo-anim2 {
  0% {
    opacity: 0; }

  50% {
    opacity: 0; }

  70% {
    opacity: 1; } }

@keyframes uil-battery-demo-anim2 {
  0% {
    opacity: 0; }

  50% {
    opacity: 0; }

  70% {
    opacity: 1; } }

@-webkit-keyframes uil-battery-demo-anim1 {
  0% {
    opacity: 0; }

  70% {
    opacity: 0; }

  90% {
    opacity: 1; } }

@-moz-keyframes uil-battery-demo-anim1 {
  0% {
    opacity: 0; }

  70% {
    opacity: 0; }

  90% {
    opacity: 1; } }

@-ms-keyframes uil-battery-demo-anim1 {
  0% {
    opacity: 0; }

  70% {
    opacity: 0; }

  90% {
    opacity: 1; } }

@keyframes uil-battery-demo-anim1 {
  0% {
    opacity: 0; }

  70% {
    opacity: 0; }

  90% {
    opacity: 1; } }

.uil-battery-demo-css {
  background: none;
  position: relative;
  width: 200px;
  height: 200px; }
  .uil-battery-demo-css .outer {
    position: absolute;
    width: 104px;
    border: 16px solid #0d8c30;
    height: 145px;
    top: 35px;
    left: 47px;
    border-radius: 10px; }
    .uil-battery-demo-css .outer:after {
      content: " ";
      display: block;
      position: absolute;
      top: -33px;
      left: 6px;
      width: 60px;
      height: 32px;
      border-radius: 10px;
      background: #0d8c30; }
  .uil-battery-demo-css .inner {
    position: absolute;
    width: 60px;
    height: 20px;
    left: 69px;
    background: #00f1ff; }
  .uil-battery-demo-css .inner:nth-of-type(2) {
    top: 58px;
    -ms-animation: uil-battery-demo-anim1 1.5s linear infinite;
    -moz-animation: uil-battery-demo-anim1 1.5s linear infinite;
    -webkit-animation: uil-battery-demo-anim1 1.5s linear infinite;
    -o-animation: uil-battery-demo-anim1 1.5s linear infinite;
    animation: uil-battery-demo-anim1 1.5s linear infinite; }
  .uil-battery-demo-css .inner:nth-of-type(3) {
    top: 85px;
    -ms-animation: uil-battery-demo-anim2 1.5s linear infinite;
    -moz-animation: uil-battery-demo-anim2 1.5s linear infinite;
    -webkit-animation: uil-battery-demo-anim2 1.5s linear infinite;
    -o-animation: uil-battery-demo-anim2 1.5s linear infinite;
    animation: uil-battery-demo-anim2 1.5s linear infinite; }
  .uil-battery-demo-css .inner:nth-of-type(4) {
    top: 112px;
    -ms-animation: uil-battery-demo-anim3 1.5s linear infinite;
    -moz-animation: uil-battery-demo-anim3 1.5s linear infinite;
    -webkit-animation: uil-battery-demo-anim3 1.5s linear infinite;
    -o-animation: uil-battery-demo-anim3 1.5s linear infinite;
    animation: uil-battery-demo-anim3 1.5s linear infinite; }
  .uil-battery-demo-css .inner:nth-of-type(5) {
    top: 139px;
    -ms-animation: uil-battery-demo-anim4 1.5s linear infinite;
    -moz-animation: uil-battery-demo-anim4 1.5s linear infinite;
    -webkit-animation: uil-battery-demo-anim4 1.5s linear infinite;
    -o-animation: uil-battery-demo-anim4 1.5s linear infinite;
    animation: uil-battery-demo-anim4 1.5s linear infinite; }
