svg.uil-default(width="100%",height="100%",xmlns="http://www.w3.org/2000/svg",viewBox="0 0 100 100",preserveAspectRatio="xMidYMid")
  rect.bk(x="0",y="0",width="100",height="100",fill="none")
  rect.bar(x="0",y="-5",width="30",height="10",fill="barColor",transform="translate(50 50) rotate(0) translate(18 0)")
    animate(attributeName="opacity",from="1",to="0",begin="begin1",dur="duration",fill="remove",repeatCount="indefinite")
  rect.bar(x="0",y="-5",width="30",height="10",fill="barColor",transform="translate(50 50) rotate(30) translate(18 0)")
    animate(attributeName="opacity",from="1",to="0",begin="begin2",dur="duration",fill="remove",repeatCount="indefinite")
  rect.bar(x="0",y="-5",width="30",height="10",fill="barColor",transform="translate(50 50) rotate(60) translate(18 0)")
    animate(attributeName="opacity",from="1",to="0",begin="begin3",dur="duration",fill="remove",repeatCount="indefinite")
  rect.bar(x="0",y="-5",width="30",height="10",fill="barColor",transform="translate(50 50) rotate(90) translate(18 0)")
    animate(attributeName="opacity",from="1",to="0",begin="begin4",dur="duration",fill="remove",repeatCount="indefinite")
  rect.bar(x="0",y="-5",width="30",height="10",fill="barColor",transform="translate(50 50) rotate(120) translate(18 0)")
    animate(attributeName="opacity",from="1",to="0",begin="begin5",dur="duration",fill="remove",repeatCount="indefinite")
  rect.bar(x="0",y="-5",width="30",height="10",fill="barColor",transform="translate(50 50) rotate(150) translate(18 0)")
    animate(attributeName="opacity",from="1",to="0",begin="begin6",dur="duration",fill="remove",repeatCount="indefinite")
  rect.bar(x="0",y="-5",width="30",height="10",fill="barColor",transform="translate(50 50) rotate(180) translate(18 0)")
    animate(attributeName="opacity",from="1",to="0",begin="begin7",dur="duration",fill="remove",repeatCount="indefinite")
  rect.bar(x="0",y="-5",width="30",height="10",fill="barColor",transform="translate(50 50) rotate(210) translate(18 0)")
    animate(attributeName="opacity",from="1",to="0",begin="begin8",dur="duration",fill="remove",repeatCount="indefinite")
  rect.bar(x="0",y="-5",width="30",height="10",fill="barColor",transform="translate(50 50) rotate(240) translate(18 0)")
    animate(attributeName="opacity",from="1",to="0",begin="begin9",dur="duration",fill="remove",repeatCount="indefinite")
  rect.bar(x="0",y="-5",width="30",height="10",fill="barColor",transform="translate(50 50) rotate(270) translate(18 0)")
    animate(attributeName="opacity",from="1",to="0",begin="begin10",dur="duration",fill="remove",repeatCount="indefinite")
  rect.bar(x="0",y="-5",width="30",height="10",fill="barColor",transform="translate(50 50) rotate(300) translate(18 0)")
    animate(attributeName="opacity",from="1",to="0",begin="begin11",dur="duration",fill="remove",repeatCount="indefinite")
  rect.bar(x="0",y="-5",width="30",height="10",fill="barColor",transform="translate(50 50) rotate(330) translate(18 0)")
    animate(attributeName="opacity",from="1",to="0",begin="begin12",dur="duration",fill="remove",repeatCount="indefinite")

